server {
    listen 80;
    server_name extloads.coastal-fmc.com;

    root /var/www/html;

    location / {
        index index.html;
    }

    location ~ ^/(login|scheduler|schedulerScript|lookup|lookupScript|reports|reportsScript|administration|administrationScript|adminCreateUser|adminListUsers|adminListEditUser|adminEditUser|adminDeleteUser|submit-read-form|submit-input-form|read-report|read-reports-page|read-viewer|read-ext-viewer|update-record|delete-schedule) {
        proxy_pass http://localhost:3030;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Host $host;
        proxy_set_header Connection "upgrade";
    }

    location /favicon.ico {
        return 204;
        access_log off; # Optionally, disable logging for favicon requests.
    }

    location /viewer {
        try_files /viewer.html =404;
    }

    location /viewer-willow {
        try_files /viewer-willow.html =404;
    }
}