@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&display=swap');

/* Reset and Global Styles */
html, body, div, p, h1, h2, h3, h4, h5, a, img, header, footer, main, nav {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	background-color: rgba(24, 24, 24, 1);
	color: white;
	font-family: 'Cabin', sans-serif;
}

/* Header Styles */
header {
	padding: 2% 0;
	margin-bottom: 2%;
	border-bottom: solid white 1px;
	background-color: rgba(0, 0, 0, .5);
	font-weight: 500;
	text-align: center;
	font-size: 38px;
	text-transform: uppercase;
}

/*Nav Styles*/
nav {
    margin-bottom: 2%;
    width: 100%;
    color: #999;
    text-align: center;
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    font-weight: 600;
}

nav button {
    border: none;
    font-family: 'Cabin';
    text-decoration: underline;
    font-size: 18px;
    font-weight: 600;
    color: #999;
    background-color: inherit;
    position: absolute;
    right:0;
    top:0;
    margin-right: 2vw;
    margin-top: 4vw;
}

nav button:hover {
    color: #eee;
}

nav a {
    font-size: 22px;
    font-weight: 600;
    color: #999;
    text-align: center;
    text-decoration: none;
    padding: .5em .8em;
    position: relative;
}

.nativeLink {
    border: 4px solid #999;
}

nav a::before,
nav a::after {
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}

nav a:hover {
    color: #eee;
    border-color: #eee;
}

/* Main Styles */
main {
    width: 70%;
    margin-top: 2%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 10%;
	font-size: 18px;
}

span{
    color: red;
}

h1{
    color: green;
}

#number {
    display: inline-block;
}

/*Styling for dynamic form*/
#schedule_form {
    margin-left: 5%;
    max-width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    grid-template-rows: repeat(8, auto);
    row-gap: 7%;
}

#loadDiv{
    grid-column: 1;
    grid-row: 1;
}

#loadDateTimeDiv{
    grid-column: 1;
    grid-row: 2;
}

#delDateTimeDiv{
    grid-column: 2;
    grid-row: 2;
}

#prodDiv{
    grid-column: 1;
    grid-row: 6;
}
#productInput{
    width: 200px;
    max-width: 100%;
}

#quantityDiv{
    grid-column: 2;
    grid-row: 6;
}
#quantityInput{
    width: 87px;
    max-width: 100%;
    display: inline;
}
#quantityLabel{
    display: inline;
}

#trailerDiv{
    grid-column: 2;
    grid-row: 7;
}
#trailerInput{
    width: 192px;
    max-width: 100%;
}

#originDiv{
    grid-column: 2;
    grid-row: 5;
}
#originInput{
    width: 200px;
    max-width: 100%;
}

#cityDiv{
    grid-column: 2;
    grid-row: 3;
}
#destCityInput{
    width: 200px;
    max-width: 100%;
}

#originCompanyDiv{
    grid-column: 1;
    grid-row: 5;
}
#originCompanyInput{
    width: 200px;
    max-width: 100%;
}

#custInput{
    width: 200px;
    max-width: 100%;
}

#stateDiv{
    grid-column: 1;
    grid-row: 4;
}
#destStateInput{
    width: 200px;
    max-width: 100%;
}

#countyDiv{
    grid-column:2;
    grid-row: 4;
}

#carDiv{
    grid-column: 1;
    grid-row: 7;
}
#carInput{
    width: 200px;
    max-width: 100%;
}

#billDiv{
    grid-column: 1;
    grid-row: 8;
}
#billToInput{
    width: 200px;
    max-width: 100%;
}

#destCompanyDiv{
    grid-column: 1;
    grid-row: 3;
}
#destCompanyInput{
    width: 200px;
    max-width: 100%;
}

#formSubmit{
    grid-column: 3;
    grid-row:8;
    width: 50%;
    margin-top: 8.5%;
}

#responseText{
    grid-column: 3;
    grid-row: 7;
    margin-top: 8.5%;
}

#responseTextLookup{
    margin-top: 1%;
}

/* input fields styling */
input:valid{
    color: black;
}

input:invalid{
    color:red;
}

input:focus:valid{
    outline: none !important;
    border:2px solid rgb(17, 17, 17);
    box-shadow: 0 0 5px #5f5f5f;
    border-radius: 4px;
}

input:focus:invalid{
    outline: none !important;
    border:2px solid rgb(156, 0, 0);
    box-shadow: 0 0 5px #c90b0b;
    border-radius: 4px;
}

.input {
    padding-bottom: 2%;
    width: 80%;
    accent-color: rgb(0, 0, 0);
}

.formInput {
    display: block;
    margin-bottom: 2%;
    margin-left: 0%;
}

input[type="submit"] {
    width: 130px;
    margin-bottom: 3%;
    font-size: small;
}

/*For lookup input options*/

#search_input_fields {
    display: grid;
    grid-template-columns: repeat(2, 20%);
    grid-template-rows: repeat(3, auto);
    column-gap: 5%;
    row-gap: 100px;
    margin-top: 5%;
}

#id_input_query {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

#id_input_query #unique_id {
    width: 40%;
}

#date_input_query {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
#date_input_query input{
    width: 100px;
}

#del_date_input_query {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    flex-direction: column;
}
#del_date_input_query input{
    width: 100px;
}

#origin_company_input{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    flex-direction: column;
}

#searchContainer #submit {
    grid-column: 1;
    grid-row: 3;
}

#searchContainer #submit input {
    width: 60%;
}

/*Reports Page Specific*/
#buttonsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1%;
}

#buttonsDiv button {
    margin-right: 10px;
    margin-left: 10px;
}

/* --------------- For the External Lookup/Reports table --------------- */

#endDateDiv {
    margin-left: 18px;
}

.table-container {
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
}

#tableDiv {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}
#tableDiv input{
    font-size: 0.5vw;
    width: 4vw;
}

.quantityEditType{
    font-size: 0.5vw;
}

.quantityEdit{
    width: 2.5vw !important;
}

.billToEdit{
    font-size: 0.5vw !important;
}

.productEdit{
    font-size: 0.5vw !important;
}

#dynamicTable {
    width: 80%;
    border-collapse: collapse;
    background-color: white;
    table-layout: auto;
    margin-bottom: 3%;
}

#dynamicTable th,
#dynamicTable td {
    color: black;
    border-bottom: 2px solid black;
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
    font-size: 68%;
}

#dynamicTable th {
    background-color: #f2f2f2;
    text-align: left;
}

#dynamicTable tr:nth-child(even) {
    background-color: #bebebe;
}

#buttonDiv {
    width: 100%;
    text-align: center;
}
#saveChangesButton{
    width: 8%;
}

/*----------Login Page Styles----------*/
#login{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginField {
    background-color: #f2f2f266;
    border: 1px solid #f2f2f2;
    border-radius: 8px;
    width: 28%;
    height: auto;
    text-align: center;
}

#loginField h2 {
    padding: 1%;
    padding-top: 4%;
    font-family: 'Cabin';
    font-size: 22px;
    
}

#loginField div {
    padding: 2%;
}

#loginBtn {
    margin-top: 4%;
    margin-bottom: 8%;
    width: 140px;
    font-family: 'Cabin';
}

/*---------- Admin Page Specific Styles ----------*/

#adminButtons {
    display: grid;
    grid-template-columns: repeat(4, 12%);
    grid-template-rows: repeat(1, auto);
}

#createUser, #listUsers {
    height: 32px;
}

#searchUsers {
    grid-column: span 2;
}

#tableDiv {
    margin-top: 2%;
}

#editUserSubmitButton, #deleteButton {
    height: 30px;
    margin-top: 45px;
    margin-left: 5px;
    margin-right: 5px;
    width: auto;
}